<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h2>6th class</h2>
<table>
    <tr>
        <th>--</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr>
        <td> <%= classSchedule['6th'][2][0] %></td>
        <td> <%= classSchedule['6th'][2][1] %></td>
        <td> <%= classSchedule['6th'][2][2] %></td>
        <td> <%= classSchedule['6th'][2][3] %></td>
        <td> <%= classSchedule['6th'][2][4] %></td>
        <td> <%= classSchedule['6th'][2][5] %></td>
        <td> <%= classSchedule['6th'][2][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['6th'][3][0] %></td>
        <td> <%= classSchedule['6th'][3][1] %></td>
        <td> <%= classSchedule['6th'][3][2] %></td>
        <td> <%= classSchedule['6th'][3][3] %></td>
        <td> <%= classSchedule['6th'][3][4] %></td>
        <td> <%= classSchedule['6th'][3][5] %></td>
        <td> <%= classSchedule['6th'][3][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['6th'][4][0] %></td>
        <td> <%= classSchedule['6th'][4][1] %></td>
        <td> <%= classSchedule['6th'][4][2] %></td>
        <td> <%= classSchedule['6th'][4][3] %></td>
        <td> <%= classSchedule['6th'][4][4] %></td>
        <td> <%= classSchedule['6th'][4][5] %></td>
        <td> <%= classSchedule['6th'][4][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['6th'][5][0] %></td>
        <td> <%= classSchedule['6th'][5][1] %></td>
        <td> <%= classSchedule['6th'][5][2] %></td>
        <td> <%= classSchedule['6th'][5][3] %></td>
        <td> <%= classSchedule['6th'][5][4] %></td>
        <td> <%= classSchedule['6th'][5][5] %></td>
        <td> <%= classSchedule['6th'][5][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['6th'][6][0] %></td>
        <td> <%= classSchedule['6th'][6][1] %></td>
        <td> <%= classSchedule['6th'][6][2] %></td>
        <td> <%= classSchedule['6th'][6][3] %></td>
        <td> <%= classSchedule['6th'][6][4] %></td>
        <td> <%= classSchedule['6th'][6][5] %></td>
        <td> <%= classSchedule['6th'][6][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['6th'][7][0] %></td>
        <td> <%= classSchedule['6th'][7][1] %></td>
        <td> <%= classSchedule['6th'][7][2] %></td>
        <td> <%= classSchedule['6th'][7][3] %></td>
        <td> <%= classSchedule['6th'][7][4] %></td>
        <td> <%= classSchedule['6th'][7][5] %></td>
        <td> <%= classSchedule['6th'][7][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['6th'][8][0] %></td>
        <td> <%= classSchedule['6th'][8][1] %></td>
        <td> <%= classSchedule['6th'][8][2] %></td>
        <td> <%= classSchedule['6th'][8][3] %></td>
        <td> <%= classSchedule['6th'][8][4] %></td>
        <td> <%= classSchedule['6th'][8][5] %></td>
        <td> <%= classSchedule['6th'][8][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['6th'][9][0] %></td>
        <td> <%= classSchedule['6th'][9][1] %></td>
        <td> <%= classSchedule['6th'][9][2] %></td>
        <td> <%= classSchedule['6th'][9][3] %></td>
        <td> <%= classSchedule['6th'][9][4] %></td>
        <td> <%= classSchedule['6th'][9][5] %></td>
        <td> <%= classSchedule['6th'][9][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['6th'][10][0] %></td>
        <td> <%= classSchedule['6th'][10][1] %></td>
        <td> <%= classSchedule['6th'][10][2] %></td>
        <td> <%= classSchedule['6th'][10][3] %></td>
        <td> <%= classSchedule['6th'][10][4] %></td>
        <td> <%= classSchedule['6th'][10][5] %></td>
        <td> <%= classSchedule['6th'][10][6] %></td>
    </tr>
</table>
<hr>
<h2>7th class</h2>
<table>
    <tr>
        <th>--</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr>
        <td> <%= classSchedule['7th'][2][0] %></td>
        <td> <%= classSchedule['7th'][2][1] %></td>
        <td> <%= classSchedule['7th'][2][2] %></td>
        <td> <%= classSchedule['7th'][2][3] %></td>
        <td> <%= classSchedule['7th'][2][4] %></td>
        <td> <%= classSchedule['7th'][2][5] %></td>
        <td> <%= classSchedule['7th'][2][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['7th'][3][0] %></td>
        <td> <%= classSchedule['7th'][3][1] %></td>
        <td> <%= classSchedule['7th'][3][2] %></td>
        <td> <%= classSchedule['7th'][3][3] %></td>
        <td> <%= classSchedule['7th'][3][4] %></td>
        <td> <%= classSchedule['7th'][3][5] %></td>
        <td> <%= classSchedule['7th'][3][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['7th'][4][0] %></td>
        <td> <%= classSchedule['7th'][4][1] %></td>
        <td> <%= classSchedule['7th'][4][2] %></td>
        <td> <%= classSchedule['7th'][4][3] %></td>
        <td> <%= classSchedule['7th'][4][4] %></td>
        <td> <%= classSchedule['7th'][4][5] %></td>
        <td> <%= classSchedule['7th'][4][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['7th'][5][0] %></td>
        <td> <%= classSchedule['7th'][5][1] %></td>
        <td> <%= classSchedule['7th'][5][2] %></td>
        <td> <%= classSchedule['7th'][5][3] %></td>
        <td> <%= classSchedule['7th'][5][4] %></td>
        <td> <%= classSchedule['7th'][5][5] %></td>
        <td> <%= classSchedule['7th'][5][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['7th'][6][0] %></td>
        <td> <%= classSchedule['7th'][6][1] %></td>
        <td> <%= classSchedule['7th'][6][2] %></td>
        <td> <%= classSchedule['7th'][6][3] %></td>
        <td> <%= classSchedule['7th'][6][4] %></td>
        <td> <%= classSchedule['7th'][6][5] %></td>
        <td> <%= classSchedule['7th'][6][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['7th'][7][0] %></td>
        <td> <%= classSchedule['7th'][7][1] %></td>
        <td> <%= classSchedule['7th'][7][2] %></td>
        <td> <%= classSchedule['7th'][7][3] %></td>
        <td> <%= classSchedule['7th'][7][4] %></td>
        <td> <%= classSchedule['7th'][7][5] %></td>
        <td> <%= classSchedule['7th'][7][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['7th'][8][0] %></td>
        <td> <%= classSchedule['7th'][8][1] %></td>
        <td> <%= classSchedule['7th'][8][2] %></td>
        <td> <%= classSchedule['7th'][8][3] %></td>
        <td> <%= classSchedule['7th'][8][4] %></td>
        <td> <%= classSchedule['7th'][8][5] %></td>
        <td> <%= classSchedule['7th'][8][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['7th'][9][0] %></td>
        <td> <%= classSchedule['7th'][9][1] %></td>
        <td> <%= classSchedule['7th'][9][2] %></td>
        <td> <%= classSchedule['7th'][9][3] %></td>
        <td> <%= classSchedule['7th'][9][4] %></td>
        <td> <%= classSchedule['7th'][9][5] %></td>
        <td> <%= classSchedule['7th'][9][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['7th'][10][0] %></td>
        <td> <%= classSchedule['7th'][10][1] %></td>
        <td> <%= classSchedule['7th'][10][2] %></td>
        <td> <%= classSchedule['7th'][10][3] %></td>
        <td> <%= classSchedule['7th'][10][4] %></td>
        <td> <%= classSchedule['7th'][10][5] %></td>
        <td> <%= classSchedule['7th'][10][6] %></td>
    </tr>
</table>
<hr>
<h2>8th class</h2>
<table>
    <tr>
        <th>--</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr>
        <td> <%= classSchedule['8th'][2][0] %></td>
        <td> <%= classSchedule['8th'][2][1] %></td>
        <td> <%= classSchedule['8th'][2][2] %></td>
        <td> <%= classSchedule['8th'][2][3] %></td>
        <td> <%= classSchedule['8th'][2][4] %></td>
        <td> <%= classSchedule['8th'][2][5] %></td>
        <td> <%= classSchedule['8th'][2][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['8th'][3][0] %></td>
        <td> <%= classSchedule['8th'][3][1] %></td>
        <td> <%= classSchedule['8th'][3][2] %></td>
        <td> <%= classSchedule['8th'][3][3] %></td>
        <td> <%= classSchedule['8th'][3][4] %></td>
        <td> <%= classSchedule['8th'][3][5] %></td>
        <td> <%= classSchedule['8th'][3][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['8th'][4][0] %></td>
        <td> <%= classSchedule['8th'][4][1] %></td>
        <td> <%= classSchedule['8th'][4][2] %></td>
        <td> <%= classSchedule['8th'][4][3] %></td>
        <td> <%= classSchedule['8th'][4][4] %></td>
        <td> <%= classSchedule['8th'][4][5] %></td>
        <td> <%= classSchedule['8th'][4][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['8th'][5][0] %></td>
        <td> <%= classSchedule['8th'][5][1] %></td>
        <td> <%= classSchedule['8th'][5][2] %></td>
        <td> <%= classSchedule['8th'][5][3] %></td>
        <td> <%= classSchedule['8th'][5][4] %></td>
        <td> <%= classSchedule['8th'][5][5] %></td>
        <td> <%= classSchedule['8th'][5][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['8th'][6][0] %></td>
        <td> <%= classSchedule['8th'][6][1] %></td>
        <td> <%= classSchedule['8th'][6][2] %></td>
        <td> <%= classSchedule['8th'][6][3] %></td>
        <td> <%= classSchedule['8th'][6][4] %></td>
        <td> <%= classSchedule['8th'][6][5] %></td>
        <td> <%= classSchedule['8th'][6][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['8th'][7][0] %></td>
        <td> <%= classSchedule['8th'][7][1] %></td>
        <td> <%= classSchedule['8th'][7][2] %></td>
        <td> <%= classSchedule['8th'][7][3] %></td>
        <td> <%= classSchedule['8th'][7][4] %></td>
        <td> <%= classSchedule['8th'][7][5] %></td>
        <td> <%= classSchedule['8th'][7][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['8th'][8][0] %></td>
        <td> <%= classSchedule['8th'][8][1] %></td>
        <td> <%= classSchedule['8th'][8][2] %></td>
        <td> <%= classSchedule['8th'][8][3] %></td>
        <td> <%= classSchedule['8th'][8][4] %></td>
        <td> <%= classSchedule['8th'][8][5] %></td>
        <td> <%= classSchedule['8th'][8][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['8th'][9][0] %></td>
        <td> <%= classSchedule['8th'][9][1] %></td>
        <td> <%= classSchedule['8th'][9][2] %></td>
        <td> <%= classSchedule['8th'][9][3] %></td>
        <td> <%= classSchedule['8th'][9][4] %></td>
        <td> <%= classSchedule['8th'][9][5] %></td>
        <td> <%= classSchedule['8th'][9][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['8th'][10][0] %></td>
        <td> <%= classSchedule['8th'][10][1] %></td>
        <td> <%= classSchedule['8th'][10][2] %></td>
        <td> <%= classSchedule['8th'][10][3] %></td>
        <td> <%= classSchedule['8th'][10][4] %></td>
        <td> <%= classSchedule['8th'][10][5] %></td>
        <td> <%= classSchedule['8th'][10][6] %></td>
    </tr>
</table>
<hr>
<h2>9th class</h2>
<table>
    <tr>
        <th>--</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr>
        <td> <%= classSchedule['9th'][2][0] %></td>
        <td> <%= classSchedule['9th'][2][1] %></td>
        <td> <%= classSchedule['9th'][2][2] %></td>
        <td> <%= classSchedule['9th'][2][3] %></td>
        <td> <%= classSchedule['9th'][2][4] %></td>
        <td> <%= classSchedule['9th'][2][5] %></td>
        <td> <%= classSchedule['9th'][2][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['9th'][3][0] %></td>
        <td> <%= classSchedule['9th'][3][1] %></td>
        <td> <%= classSchedule['9th'][3][2] %></td>
        <td> <%= classSchedule['9th'][3][3] %></td>
        <td> <%= classSchedule['9th'][3][4] %></td>
        <td> <%= classSchedule['9th'][3][5] %></td>
        <td> <%= classSchedule['9th'][3][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['9th'][4][0] %></td>
        <td> <%= classSchedule['9th'][4][1] %></td>
        <td> <%= classSchedule['9th'][4][2] %></td>
        <td> <%= classSchedule['9th'][4][3] %></td>
        <td> <%= classSchedule['9th'][4][4] %></td>
        <td> <%= classSchedule['9th'][4][5] %></td>
        <td> <%= classSchedule['9th'][4][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['9th'][5][0] %></td>
        <td> <%= classSchedule['9th'][5][1] %></td>
        <td> <%= classSchedule['9th'][5][2] %></td>
        <td> <%= classSchedule['9th'][5][3] %></td>
        <td> <%= classSchedule['9th'][5][4] %></td>
        <td> <%= classSchedule['9th'][5][5] %></td>
        <td> <%= classSchedule['9th'][5][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['9th'][6][0] %></td>
        <td> <%= classSchedule['9th'][6][1] %></td>
        <td> <%= classSchedule['9th'][6][2] %></td>
        <td> <%= classSchedule['9th'][6][3] %></td>
        <td> <%= classSchedule['9th'][6][4] %></td>
        <td> <%= classSchedule['9th'][6][5] %></td>
        <td> <%= classSchedule['9th'][6][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['9th'][7][0] %></td>
        <td> <%= classSchedule['9th'][7][1] %></td>
        <td> <%= classSchedule['9th'][7][2] %></td>
        <td> <%= classSchedule['9th'][7][3] %></td>
        <td> <%= classSchedule['9th'][7][4] %></td>
        <td> <%= classSchedule['9th'][7][5] %></td>
        <td> <%= classSchedule['9th'][7][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['9th'][8][0] %></td>
        <td> <%= classSchedule['9th'][8][1] %></td>
        <td> <%= classSchedule['9th'][8][2] %></td>
        <td> <%= classSchedule['9th'][8][3] %></td>
        <td> <%= classSchedule['9th'][8][4] %></td>
        <td> <%= classSchedule['9th'][8][5] %></td>
        <td> <%= classSchedule['9th'][8][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['9th'][9][0] %></td>
        <td> <%= classSchedule['9th'][9][1] %></td>
        <td> <%= classSchedule['9th'][9][2] %></td>
        <td> <%= classSchedule['9th'][9][3] %></td>
        <td> <%= classSchedule['9th'][9][4] %></td>
        <td> <%= classSchedule['9th'][9][5] %></td>
        <td> <%= classSchedule['9th'][9][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['9th'][10][0] %></td>
        <td> <%= classSchedule['9th'][10][1] %></td>
        <td> <%= classSchedule['9th'][10][2] %></td>
        <td> <%= classSchedule['9th'][10][3] %></td>
        <td> <%= classSchedule['9th'][10][4] %></td>
        <td> <%= classSchedule['9th'][10][5] %></td>
        <td> <%= classSchedule['9th'][10][6] %></td>
    </tr>
</table>
<hr>
<h2>10th class</h2>
<table>
    <tr>
        <th>--</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr>
        <td> <%= classSchedule['10th'][2][0] %></td>
        <td> <%= classSchedule['10th'][2][1] %></td>
        <td> <%= classSchedule['10th'][2][2] %></td>
        <td> <%= classSchedule['10th'][2][3] %></td>
        <td> <%= classSchedule['10th'][2][4] %></td>
        <td> <%= classSchedule['10th'][2][5] %></td>
        <td> <%= classSchedule['10th'][2][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['10th'][3][0] %></td>
        <td> <%= classSchedule['10th'][3][1] %></td>
        <td> <%= classSchedule['10th'][3][2] %></td>
        <td> <%= classSchedule['10th'][3][3] %></td>
        <td> <%= classSchedule['10th'][3][4] %></td>
        <td> <%= classSchedule['10th'][3][5] %></td>
        <td> <%= classSchedule['10th'][3][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['10th'][4][0] %></td>
        <td> <%= classSchedule['10th'][4][1] %></td>
        <td> <%= classSchedule['10th'][4][2] %></td>
        <td> <%= classSchedule['10th'][4][3] %></td>
        <td> <%= classSchedule['10th'][4][4] %></td>
        <td> <%= classSchedule['10th'][4][5] %></td>
        <td> <%= classSchedule['10th'][4][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['10th'][5][0] %></td>
        <td> <%= classSchedule['10th'][5][1] %></td>
        <td> <%= classSchedule['10th'][5][2] %></td>
        <td> <%= classSchedule['10th'][5][3] %></td>
        <td> <%= classSchedule['10th'][5][4] %></td>
        <td> <%= classSchedule['10th'][5][5] %></td>
        <td> <%= classSchedule['10th'][5][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['10th'][6][0] %></td>
        <td> <%= classSchedule['10th'][6][1] %></td>
        <td> <%= classSchedule['10th'][6][2] %></td>
        <td> <%= classSchedule['10th'][6][3] %></td>
        <td> <%= classSchedule['10th'][6][4] %></td>
        <td> <%= classSchedule['10th'][6][5] %></td>
        <td> <%= classSchedule['10th'][6][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['10th'][7][0] %></td>
        <td> <%= classSchedule['10th'][7][1] %></td>
        <td> <%= classSchedule['10th'][7][2] %></td>
        <td> <%= classSchedule['10th'][7][3] %></td>
        <td> <%= classSchedule['10th'][7][4] %></td>
        <td> <%= classSchedule['10th'][7][5] %></td>
        <td> <%= classSchedule['10th'][7][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['10th'][8][0] %></td>
        <td> <%= classSchedule['10th'][8][1] %></td>
        <td> <%= classSchedule['10th'][8][2] %></td>
        <td> <%= classSchedule['10th'][8][3] %></td>
        <td> <%= classSchedule['10th'][8][4] %></td>
        <td> <%= classSchedule['10th'][8][5] %></td>
        <td> <%= classSchedule['10th'][8][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['10th'][9][0] %></td>
        <td> <%= classSchedule['10th'][9][1] %></td>
        <td> <%= classSchedule['10th'][9][2] %></td>
        <td> <%= classSchedule['10th'][9][3] %></td>
        <td> <%= classSchedule['10th'][9][4] %></td>
        <td> <%= classSchedule['10th'][9][5] %></td>
        <td> <%= classSchedule['10th'][9][6] %></td>
    </tr>
    <tr>
        <td> <%= classSchedule['10th'][10][0] %></td>
        <td> <%= classSchedule['10th'][10][1] %></td>
        <td> <%= classSchedule['10th'][10][2] %></td>
        <td> <%= classSchedule['10th'][10][3] %></td>
        <td> <%= classSchedule['10th'][10][4] %></td>
        <td> <%= classSchedule['10th'][10][5] %></td>
        <td> <%= classSchedule['10th'][10][6] %></td>
    </tr>
</table>
</body>
</html>