<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<a href="/" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-home"></span> Home
</a>
<br>
<h2><u>Solution 3 Extra teacher required: </u> <%= classSchedule2['teacherRequired']  %></h2>
<hr>
<hr>
<h2><u>Solution 2</u></h2> &nbsp; &nbsp; &nbsp; &nbsp;
<br>
<hr>
<h2>6th class</h2>
<table>
    <tr>
        <th>--</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <% for (var i =2; i <=10;  i++ ) { %>
        <tr>
            <% for(var j = 0 ; j<=6; j++){ %>
                <td> <%= classSchedule2['6th'][i][j] %></td>
            <%  } %>
        </tr>
    <%  } %>
</table>
<hr>
<h2>7th class</h2>
<table>
    <tr>
        <th>--</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <% for (var i =2; i <=10;  i++ ) { %>
        <tr>
            <% for(var j = 0 ; j<=6; j++){ %>
                <td> <%= classSchedule2['7th'][i][j] %></td>
            <%  } %>
        </tr>
    <%  } %>
</table>
<hr>
<h2>8th class</h2>
<table>
    <tr>
        <th>--</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <% for (var i =2; i <=10;  i++ ) { %>
        <tr>
            <% for(var j = 0 ; j<=6; j++){ %>
                <td> <%= classSchedule2['8th'][i][j] %></td>
            <%  } %>
        </tr>
    <%  } %>
</table>
<hr>
<h2>9th class</h2>
<table>
    <tr>
        <th>--</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <% for (var i =2; i <=10;  i++ ) { %>
        <tr>
            <% for(var j = 0 ; j<=6; j++){ %>
                <td> <%= classSchedule2['9th'][i][j] %></td>
            <%  } %>
        </tr>
    <%  } %>
</table>
<hr>
<h2>10th class</h2>
<table>
    <tr>
        <th>--</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <% for (var i =2; i <=10;  i++ ) { %>
        <tr>
            <% for(var j = 0 ; j<=6; j++){ %>
                <td> <%= classSchedule2['10th'][i][j] %></td>
            <%  } %>
        </tr>
    <%  } %>
</table>
</body>
</html>