<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<br>
<h2><u>Solution 2<u></h2>
<br>
<br>
<h2>6th class</h2>
<table>
    <tr>
        <th>--</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <% for (var i =2; i <=10;  i++ ) { %>
        <tr>
            <% for(var j = 0 ; j<=6; j++){ %>
                <td> <%= classSchedule['6th'][i][j] %></td>
            <%  } %>
        </tr>
    <%  } %>
</table>
<hr>
<h2>7th class</h2>
<table>
    <tr>
        <th>--</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <% for (var i =2; i <=10;  i++ ) { %>
        <tr>
            <% for(var j = 0 ; j<=6; j++){ %>
                <td> <%= classSchedule['7th'][i][j] %></td>
            <%  } %>
        </tr>
    <%  } %>
</table>
<hr>
<h2>8th class</h2>
<table>
    <tr>
        <th>--</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <% for (var i =2; i <=10;  i++ ) { %>
        <tr>
            <% for(var j = 0 ; j<=6; j++){ %>
                <td> <%= classSchedule['8th'][i][j] %></td>
            <%  } %>
        </tr>
    <%  } %>
</table>
<hr>
<h2>9th class</h2>
<table>
    <tr>
        <th>--</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <% for (var i =2; i <=10;  i++ ) { %>
        <tr>
            <% for(var j = 0 ; j<=6; j++){ %>
                <td> <%= classSchedule['9th'][i][j] %></td>
            <%  } %>
        </tr>
    <%  } %>
</table>
<hr>
<h2>10th class</h2>
<table>
    <tr>
        <th>--</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <% for (var i =2; i <=10;  i++ ) { %>
        <tr>
            <% for(var j = 0 ; j<=6; j++){ %>
                <td> <%= classSchedule['10th'][i][j] %></td>
            <%  } %>
        </tr>
    <%  } %>
</table>
</body>
</html>